@model ProjectPRN.Models.Computer

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PcName" class="control-label"></label>
                <input asp-for="PcName" class="form-control" />
                <span asp-validation-for="PcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcType" class="control-label"></label>
                <select asp-for="PcType" class ="form-control" asp-items="ViewBag.PcType"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("form").addEventListener("submit", function (event) {
            if (!confirm("Do you want to create the computer?")) {
                event.preventDefault();
            }
        });
    });
</script>
