@model ProjectPRN.Models.Computer

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Computer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <p>PcId: @Model.PcId</p>
            <input type="hidden" asp-for="PcId" value="@Model.PcId" />
            <div class="form-group">
                <label asp-for="PcName" class="control-label"></label>
                <input asp-for="PcName" class="form-control" />
                <span asp-validation-for="PcName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PcType" class="control-label"></label>
                <select asp-for="PcType" class="form-control" asp-items="ViewBag.PcType"></select>
                <span asp-validation-for="PcType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelector("form").addEventListener("submit", function (event) {
            if (!confirm("Do you want to update the computer?")) {
                event.preventDefault();
            }
        });
    });
</script>



<script>
    function formatPrice(input) {
        input.value = input.value.replace(',', '.'); // Thay dấu phẩy bằng dấu chấm
    }

    function removeTrailingDecimals(input) {
        input.value = parseFloat(input.value).toString(); // Chuyển thành số rồi lại thành chuỗi
    }
</script>


