@page
@model ScoreManagement.Pages.AdminMenu.LecturersManage.CreateModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Lecturer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Lecturer.LecturerName" class="control-label"></label>
                <input asp-for="Lecturer.LecturerName" class="form-control" />
                <span asp-validation-for="Lecturer.LecturerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Account</label>
                <select asp-for="Lecturer.AccountId" class="form-control" asp-items="@(ViewData["AccountId"] as List<SelectListItem>)"></select>
                <span asp-validation-for="Lecturer.AccountId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Lecturer.Dob" class="control-label"></label>
                <input asp-for="Lecturer.Dob" class="form-control" type="date"/>
                <span asp-validation-for="Lecturer.Dob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.Gender" class="control-label"></label>
                <div>
                    <label>
                        <input type="radio" asp-for="Lecturer.Gender" value="true" /> Male
                    </label>
                    <label>
                        <input type="radio" asp-for="Lecturer.Gender" value="false" /> Female
                    </label>
                </div>
                <span asp-validation-for="Lecturer.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.Address" class="control-label"></label>
                <input asp-for="Lecturer.Address" class="form-control" />
                <span asp-validation-for="Lecturer.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lecturer.PhoneNumber" class="control-label"></label>
                <input asp-for="Lecturer.PhoneNumber" class="form-control" />
                <span asp-validation-for="Lecturer.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
