@page
@model ScoreManagement.Pages.AdminMenu.GradeManage.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Grade</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Grade.GradeId" />
            <div class="form-group">
                <label asp-for="Grade.StudentCourseId" class="control-label"></label>
                <input asp-for="Grade.StudentCourseId" class="form-control" readonly/>
                <span asp-validation-for="Grade.StudentCourseId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Assignment1" class="control-label"></label>
                <input asp-for="Grade.Assignment1" class="form-control" min="0" max="10"/>
                <span asp-validation-for="Grade.Assignment1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Assignment2" class="control-label"></label>
                <input asp-for="Grade.Assignment2" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.Assignment2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.Assignment3" class="control-label"></label>
                <input asp-for="Grade.Assignment3" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.Assignment3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.ProgressTest1" class="control-label"></label>
                <input asp-for="Grade.ProgressTest1" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.ProgressTest1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.ProgressTest2" class="control-label"></label>
                <input asp-for="Grade.ProgressTest2" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.ProgressTest2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.ProgressTest3" class="control-label"></label>
                <input asp-for="Grade.ProgressTest3" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.ProgressTest3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Grade.FinalExam" class="control-label"></label>
                <input asp-for="Grade.FinalExam" class="form-control" min="0" max="10" />
                <span asp-validation-for="Grade.FinalExam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
